.yokaiCard {
  padding-inline: 8px;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--clr-primary-text);
  box-shadow: 0 0 8px 0 currentColor;
  border-radius: 24px;
  corner-shape: squircle;

  & > hr {
    border: 0;
    border-top: 1px solid;
    color: currentColor;
  }


  &:hover {
    box-shadow: 0 0 12px 0 currentColor;
  }
}




.yokaiFigure {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  & > img {
    object-fit: cover;
    object-position: center;
  }
}

.yokaiTitle {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}


.yokaiText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 300;
  text-transform: initial;
  flex-grow: 1;
  line-height: 1.2;

  & > span {
    font-weight: 600;
  }
}

.yokaiControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.yokaiDangerLow,
.yokaiDangerCritical,
.yokaiStatus {
  block-size: 24px;
  display: block;
  padding-inline: 8px;
  align-content: center;
  text-align: center;
  border-radius: 24px;
  corner-shape: squircle;
  line-height: 24px;
}

.yokaiDangerLow {
  color: var(--clr-primary-text);
  background-color: var(--clr-primary-danger);
}

.yokaiDangerCritical {
  color: var(--clr-secondary-text);
  background-color: var(--clr-secondary-danger);
}

.yokaiStatus {
  color: var(--clr-secondary-text);
  background-color: var(--clr-primary-text);
  text-transform: inherit;

  &:disabled {
    opacity: 0.4;
  }

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}